* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  line-height: 1.6;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #0a0a0a;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: cyan;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
}

.hero span {
  color: yellow;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  background: black;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

.hire {
  background: red;
}

/* Sections */
section {
  padding: 60px 20px;
  text-align: center;
}

/* Projects */
.project-card {
  background: #f4f4f4;
  margin: 15px auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

/* Skills */
.skills span {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #333;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.skills span:hover {
  background: #555;
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}